

/* #top-heading {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
} */

/* #top-button {
    position: absolute;
    top: 40%;
    left: 44%;
    color: white;
} */




#info-container {
    background-color: rgb(255, 164, 0);
}


